# Python
__pycache__/
*.py[cod]
*.so
.Python
venv/
env/
ENV/
env.bak/
venv.bak/

# База данных
*.db
*.sqlite
*.sqlite3

# Статистика
stats.json

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Логи
*.log

# Системные файлы
.DS_Store
Thumbs.db

# Файлы установки
*.exe
*.msi
*.img
